.search-home {
	height: 540px;
	position: relative;
	background: rgba(0, 0, 0, 0.36);
}
.changer-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}
.changer-bg:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.26);
	z-index: 99;
}
.search-home:before {
    display: inline-block;
    /* content: ''; */
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.search-wrap-home {
    width: 45%;
    margin: 0 auto 0;
    height: 100%;
    position: relative;
    z-index: 2;
}
.search-wrap-home:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0px;
    visibility: hidden;
    margin-right: -0.5em;
}
.search-wrap-home .search-center {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0 0 0 3px;
}
.logo-search-box {
    width: 250px;
    margin: 0 auto 15px;
    color: #fff;
    font-size: 40px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0px 0px 5px #3c3c3c;
}
.txt-small {
	font-size: 14px;
	color: #e8e8e8;
	text-transform: capitalize;
}
#search-form {
    position: relative;
    height: 70px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.27);
    border-radius: 5px;
}
#search-form input[type=text] {
    width: 100%;
    height: 100%;
    padding: 5px 127px 5px 10px;
    /* box-shadow: 0px 0px 5px #EAEAEA; */
    /* -webkit-box-shadow: 0px 0px 5px #EAEAEA; 
    -moz-box-shadow: 0px 0px 5px #EAEAEA;
    -ms-box-shadow: 0px 0px 5px #EAEAEA;*/
    font-size: 16px;
    background: #fff;
}
#search-form #btn-search {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    padding: 9px 25px 9px;
    font-size: 25px;
    color: #fff;
    background: #00a769;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.keyword_wrapper,
.contact,
.featured-listing {
    padding-top: 50px;
}
.contact,
.featured-listing {
	background: none;
}
.contact {padding-bottom: 50px;}
.title-sub {
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 22px;
    color: #3c3c3c;
}
.news {
    background: #fff;
}
.news .info-item {
    padding: 8px 0 0 0;
}
.news .info-item a {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px;
    display: block; 
}
.news .date-post {
    color: #B9B9B9;
    font-style: italic;
}
.list-news li {
    margin-bottom: 30px;
}
.list-news .pic-intro {
    height: 190px;
}
.txt-location {
    font-size: 13px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
    -webkit-text-shadow: 1px 1px 1px #fff;
    -moz-text-shadow: 1px 1px 1px #fff;
    -ms-text-shadow: 1px 1px 1px #fff;
}
.txt-location, .map-location {
    float: left;
    width: 50%;
    margin-bottom: 0;
}
.txt-location {
    padding-left: 60px;
}
.map-location iframe {
    position: absolute;
    top: 0;
    left: 0;
}
.map-location .img-show:before {
    padding-top: 47%;
}
.txt-location .name-cty {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 10px;
}
.txt-location ul {
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
}
.txt-location li {
    border-bottom: solid 1px #dcdcdc;
    border-top: 1px solid #fff;
    float: left;
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
}
.txt-location li p {
    overflow: hidden;
    text-transform: capitalize;
    vertical-align: top;
    padding-left: 10px;
}
.txt-location li span {
	float: left;
}
.txt-location li .icon-pin-active-copy-3 {
	font-size: 18px;
	position: relative;
	top: 3px;
}
.txt-location li .icon-phone-profile {
	font-size: 18px;
	top: 2px;
	position: relative;
}
.txt-location li .icon-mail-profile {
	position: relative;
	top: 3px;
}
.txt-location li:first-child {
    border-top: none;
}
.txt-location .get-email {
    margin-bottom: 5px;
    font-size: 16px;
}
.txt-location form input {
    border: solid 1px #dedede;
    height: 41px;
    display: inline-block;
    margin-right: 2%;
    padding: 0 15px;
    width: 60%;
    background: #fff;
}
@media ( max-width: 1200px ) {
    .news .info-item a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .search-wrap-home {
		width: 60%;
	}
	.logo-search-box {
		font-size: 35px;
	}
}
.page-home {
    /* visibility: hidden; */
}
@media (min-width: 768px) {
	
}
@media (max-width: 860px) {
    .search-wrap-home {
		width: 90%;
	}
	.txt-location, .map-location {
	    width: 100%;
	}
	.map-location {
	    margin-bottom: 20px;
	}
	.txt-location {
	    padding-left: 0;
	}
	.logo-search-box {
		/* width: 180px; */
	}
	.logo-search-box img {
		max-width: 100%;
	}
	.txt-location form input {
		width: 100%;
		margin-bottom: 10px;
	}
	.txt-location form {
		overflow: hidden;
	}
	.txt-location button {
		float: right;
	}
	.search-wrap-home .search-center {
		margin-top: -32px;
	}
}
.news .link-see-more,
.featured-listing .link-see-more {
	font-weight: 600;
	padding: 12px 40px;
	font-size: 15px;
}
.why-mv .pic-intro {
	width: 35%;
	height: 90px;
}
.why-mv .title-why {
	font-weight: 700;
	color: #00a769;
	font-size: 16px;
	margin-bottom: 10px;
}
.why-mv .info-item {
	font-size: 14px;
}
.keyword_col h2,
.keyword_child_location h3 {
	margin: 0;
}
.keyword_col a {
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.keyword_col a:hover {
	text-decoration: underline;
}
.keyword_col h2 {
	margin-bottom: 10px;
}
.keyword_col h2 a {
	color: #00a769;
	font-weight: 600;
}
.keyword_child_location li {
	margin-bottom: 7px;
}
.keyword_wrapper .item-col {
	float: left;
	width: 20%;
}
.keyword_wrapper .item-col .keyword_col {
	margin-bottom: 20px;
	/* max-height: 300px; */
	overflow: hidden;
}
.keyword_wrapper {
	background: #f3f3f3;
	padding-bottom: 20px;
}
.du-an-list .swiper-wrapper {
	margin: 0 -2px;
}
.du-an-list .swiper-slide {
	width: 33.3333%;
	/* padding: 2px; */
}
.du-an-list .swiper-slide .pic-intro {
	position: relative;
	margin: 0;
	height: 350px;
}
.infor-du-an {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	color: #fff;
	-webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.infor-du-an:hover {
	background: rgba(0,0,0,0.2);
}
.infor-du-an:before {
	content: '';
	vertical-align: middle;
	height: 100%;
	width: 0;
	display: inline-block;
	margin: 0 0 0 -5px;
}
.infor-du-an > div {
	display: inline-block;
	vertical-align: middle;
}
.infor-du-an .line-bt {
	display: inline-block;
	height: 1px;
	background: #fff;
	width: 80px;
}
@media ( max-width: 768px ) {
	.search-home {
		height: 350px;
	}
	.logo-search-box {
		font-size: 25px;
	}
	.logo-search-box .txt-small {
		font-size: 11px;
	}
	.du-an-list .swiper-slide .pic-intro {
		height: 200px;
	}
	.infor-du-an > div {
		font-size: 12px;
	}
	.infor-du-an > div .fs-30 {
		font-size: 16px;
	}
	.infor-du-an > div .fs-17 {
		font-size: 13px;
	}
	.news .info-item a {
		text-overflow: inherit;
		overflow: inherit;
		white-space: normal;
	}
	.keyword_wrapper .item-col {
		width: 100%;
	}
	.keyword_child_location li {
		float: left;
		margin-right: 10px;
	}
}
@media (min-width: 320px) and (max-width: 460px) {
	.search-home {
		height: 250px;
	}
	.logo-search-box {
		font-size: 17px;
	}
	#search-form {
		padding: 0;
		height: 40px;
	}
	#search-form input[type=text] {
		font-size: 12px;
		padding-right: 80px;
	}
	#search-form #btn-search {
		top: 4px;
		right: 5px;
		padding: 7px 10px 8px;
		font-size: 12px;
	}
	.title-sub {
		font-size: 16px;
	}
	.keyword_wrapper, .contact, .featured-listing {
		padding-top: 20px;
	}
	.why-mv .info-item {
		padding: 0;
	}
}